.layout {
	flex:           1;
	min-height:     0;
	display:        flex;
	flex-direction: column;
}

.content {
	flex:           1;
	min-height:     0;
	display:        flex;
	flex-direction: column;
	overflow: auto;
}

.tabs :global(.ant-tabs-nav) {
	padding-left:  var(--space-lg);
	padding-right: var(--space-lg);
	margin-bottom: 0;
}

.tabs :global(.ant-tabs-nav)::before {
	border-bottom: 0;
}
